@import "../colors.scss";

%shared {
  color: $white;
  line-height: 18px;
  font-size: 12px;
  font-weight: 700;
  padding: 7px 12px;
  border-radius: 4px;
  background: $dark-blue;
  cursor: pointer;
  border: none;
  transition: 0.2s;
  opacity: 1;
  position: relative;
  min-width: 90px;
  text-align: center;
}

.button {
  @extend %shared;
}

.button:hover {
  opacity: 0.9;
}

.button:disabled {
  @extend %shared;
  cursor: not-allowed;
  opacity: 0.7;
  i {
    margin-left: -12px;
    margin-right: 8px;
  }
}
.loader {
  border: 3px solid $dark-blue;
  border-radius: 100%;
  border-top: 6px solid transparent;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  right: -30px;
  top: 50%;
  margin: -10px 0 0;
  z-index: 999;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
