@import "../colors";

.footer_body {
  background: $liver;
  padding: 10px 0;
  .footer_content {
    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: $white;
      a {
        color: $white;
        margin-right: 20px;
      }
    }
    .footer_copyright {
      p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer_body {
    width: max-content;
    .footer_content {
      p {
        line-height: 22px;
      }
    }
  }
}
