@import "../colors";

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  align-items: center;
  animation: Loader 2s ease infinite;
}

@keyframes Loader {
  100% {
    transform: rotate(360deg);
  }
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
}
