@import "../colors";

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  align-items: center;
}

.popupBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.Messagebox {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
  background-color: white;
}

.header {
  width: 100%;
  height: 40px;
  background: linear-gradient(90deg, #394c91 0.86%, #27d3e0 100%);
  display: flex;
  padding-right: 1em;
  justify-content: space-between;
  align-items: center;

  .letHeader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .crossButton {
    color: #888888;
    cursor: pointer;
  }

  .crossButton:hover {
    color: #4e4e4e;
  }

  .text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    padding: 6px 15px;
  }
  .closeAction {
    color: #fff;
    cursor: pointer;
  }
}

.message {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #000;
  padding: 10px 0 0;
}
.SuccessImg {
  text-align: center;
  .sImage {
    width: 40px;
    height: 40px;
    margin: auto;
  }
}
