@import "../colors";
%tabStyle {
  background-color: #3668a1;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 8px 16px;
  font-family: "Montserrat", sans-serif;
}
%tabStylelogin {
  background-color: #3668a1;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 3px 5px;
  font-family: "Montserrat", sans-serif;
}
.relationData {
  position: relative;
  padding-left: 70px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 22%);

  input {
    border-width: 1px 1px 1px 0;
    border-color: #aeaeae;
    border-style: solid;
    box-shadow: none;
    border-radius: 0 3px 3px 0;
  }
}

.relationData {
  select:focus {
    border-color: red;
    outline: none !important;
    border-width: 1px;
  }
  input:focus {
    border-color: red;
    outline: none !important;
    border-width: 1px;
  }
}
.tabContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  cursor: pointer;

  & > div {
    flex-grow: 1;
    text-align: center;
  }
}
.tabHeaderlogin {
  @extend %tabStylelogin;
}
.activeTabHeaderlogin {
  @extend %tabStylelogin;
  background-color: #173e69;
}
.selectData {
  width: 70px;
  height: 36px;
  background: $NavbarTextColor;
  color: black;
  position: absolute;
  border-radius: 3px 0 0 3px;
  border-width: 1px 0 1px 1px;
  border-color: $silverChalice;
  border-style: solid;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  left: 0;
  box-shadow: none;

  &:disabled {
    opacity: 1;
    background: #d9d9d9;
    text-transform: capitalize !important;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  z-index: 1;
  background: white;
}

.leftContainer {
  width: 55%;
}
.frameContainer {
  .image {
    object-fit: cover; // Optional
  }
}

.TopxsImageContainer {
  position: relative;
  width: 100%;
  height: 0px;
  z-index: 1;
}

.xsFrameContainer {
  background-color: red;
  width: 60%;
  height: auto;
  justify-content: space-between;
  z-index: 0;
}

.HeadingText {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: $dark-blue;
}

.TitleText {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 29px;
  color: $dark-blue;
  display: block;
  padding-bottom: 0px;
}
.keyText {
  font-size: 14px !important;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 29px;
}
.RegText {
  color: $dark-charcoal !important;
  cursor: pointer;
}

.tableContainer {
  display: block;
  margin: 10px 0;
}

.eyeImage {
  position: absolute;
  right: 10px;
  display: block;
  z-index: 1;
  margin-top: -29px;
}

.checkText {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  color: $black;
}

.scheckText {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  display: block;
  line-height: 18px;
}

.pdesingleColumn {
  Button {
    width: auto;
    padding: 7px 12px;
    background: $dark-blue;
  }
}

.pderightColumn {
  width: 52%;
  float: right;
  text-align: right;
  margin-top: 16px;
}

.btnText {
  width: 100%;
  max-width: 138px;
  height: 100%;
  max-height: 50px;
  background: $dark-blue;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  border: none;
}
.LoginBtn {
  height: 40px;
}

.RegistrationMain {
  overflow: hidden;

  .regImageInfo {
    padding: 20px;
    span {
      display: block !important;
    }

    .image {
      object-fit: contain;
    }
  }

  .RegistrationInput {
    input:focus:invalid,
    select:focus:invalid {
      outline: 2px solid red;
    }

    h2,
    h4 {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      color: $dark-blue;
      // padding: 5px;
      margin-bottom: 17px;
    }

    h4 {
      color: $successtextcolor;
      font-size: 24px;
      padding: 0;

      span {
        font-size: 14px;
        color: $dark-charcoal;
        font-weight: 600;
      }
    }

    .btnText {
      width: 100%;
      max-height: 50px;
      background: $dark-blue;
      padding: 10px 20px;
      border-radius: 3px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #ffffff;
      border: none;
      margin-top: 10px;
    }

    .pderightColumn {
      width: 100%;
    }
  }

  .OTPInput {
    input {
      background: $white;
      border: 1px solid $silverChalice;
      box-shadow: none;
      padding: 0px 19px;
      font-size: 16px;
    }

    p,
    span {
      color: $dark-charcoal;
      padding: 10px;
      opacity: 0.5;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
    }

    .checkText {
      font-size: 14px;
    }
  }

  .BackText {
    background: url("../../../public/assets/right-arrow.png") no-repeat;
    background-size: contain;
    position: relative;
    background-position: right;
    padding-right: 32px;
    display: initial;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
  }
}

.rightButton {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: $dark-blue;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.warningText {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: $red;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.disableForm {
  pointer-events: none !important;
  position: relative;
}
.disableForm:after {
  background: $white;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.hint {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: red;
  font-weight: 600;
  font-size: 12px;
}
.enterOTPText {
  margin-left: 6px;
}

@media (max-width: 1023px) {
  .RegistrationInput {
    padding: 0;
  }
  .checkText {
    font-size: 14px;
  }
  .pderightColumn {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .RegistrationInput {
    padding: 40px 0;
  }
  .checkText {
    font-size: 13px;
  }
}
