$black: #000000;
$NavbarTextColor:#FFFFFF;
$dark-charcoal: #333333;
$liver: #4e4e4e;
$gray-hover: #e9e9e9;
$off-white: #f5f5f5;
$vistaWhite: #fafafa;
$aquaHaze: #f3f3f3;
$softPeach: #eeeeee;
$white: #ffffff;
$silverChalice: #aeaeae;
$lightGrey: #d7d7d7;
$lightSilver: #d9d9d9;
$gainsboro: #dcdcdc;
$brightGray: #efefef;
$cultured: #f7f8f8;
$platinum: #e7eaea;
$titlecolor:#3668A1;
$cardheadderbg:#1C595E;

$ebonyClay: #222842;
$dark-blue: #3668a1;
$duskyBlue: #385a99;
$rhino: #30395b;
$chineseBlue: #394E91;
$denim: #375a98;
$blueJay: #274c77;
$silkBlue: #508ace;

$bananaYellow: #ffe925;
$candlelight: #fbe627;
$red: #ff0000;
$successtextcolor: #13B72D;