@import "./colors.scss";

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}

.modaldialog {
  width: 100%;
  height: 100%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  display: flex;
  border: 1px solid #cbcbcb;
  border-radius: 0;
  z-index: 9999;
  padding: 0px !important;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
}

.modalHeaderInfo {
  background-color: $titlecolor;
  padding: 5px 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.Modalclose {
  margin: 2px -10px 0 auto;
}

.ModalTitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: $NavbarTextColor;
}

.succesxsodalbody {
  text-align: center;
  padding: 20px 0;

  img {
    object-fit: contain;
  }

  .AdharText {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: $dark-charcoal;
    display: block;
    margin-bottom: 5px;

    span {
      display: block;
      font-size: 13px;
    }
  }

  input {
    width: 270px;
    height: 38px;
    background: #e9e9e9;
    border-radius: 3px;
    border: none;
    padding: 0 15px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
  }
}

.adharButton {
  width: 138px;
  height: 40px;
  background: $cardheadderbg;
  border-radius: 3px;
  border: none;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: $NavbarTextColor;
}

.OtpText {
  margin-top: 10px;
}

.AadharBtn {
  padding: 0 14px;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  border-radius: 4px;
  font-weight: 500;
  background: #3668a1 !important;
  color: $NavbarTextColor;
  border: none;
}
